.toggle {
  --t-width: 2.25rem;
  --t-height: 1.25rem;
  --t-radius: 0.75rem;
  --t-space: 0.25rem;

  position: relative;
  display: block;
  min-height: var(--t-height);
  padding-left: var(--t-width);
}

@media (min-width: 40em) {
  .toggle {
    --t-width: 2.75rem;
    --t-height: 1.5rem;
  }
}

.toggleInput {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 0.5rem;
  height: 0.5rem;
  opacity: 0;
}

.toggleLabel {
  position: relative;
}

.toggleLabel::before {
  position: absolute;
  top: 0;
  left: calc(var(--t-width) * -1);
  display: block;
  width: var(--t-width);
  height: var(--t-height);
  pointer-events: all;
  content: "";
  background-color: rgba(227, 84, 74, 0.6);
  border: transparent solid 1px;
  border-radius: var(--t-radius);
  box-sizing: border-box;
}

.toggleLabel::after {
  position: absolute;
  top: var(--t-space);
  left: calc(var(--t-width) * -1 + var(--t-space));
  display: block;
  width: calc(var(--t-height) - var(--t-space) * 2);
  height: calc(var(--t-height) - var(--t-space) * 2);
  content: "";
  background: no-repeat 50% / 50% 50%;
  background-color: rgb(227, 84, 74);
  border-radius: var(--t-radius);
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-transform 0.15s ease-in-out;
}

.toggleInput:checked ~ .toggleLabel::before {
  background-color: rgba(50, 115, 220, 0.6);
}

.toggleInput:checked ~ .toggleLabel::after {
  background-color: rgb(50, 115, 220);
  transform: translateX(calc(var(--t-width) - var(--t-height)));
  -webkit-transform: translateX(calc(var(--t-width) - var(--t-height)));
}

.toggleInput:disabled ~ .toggleLabel::before {
  background-color: #e9ecef;
}

.toggleInput:disabled ~ .toggleLabel::after {
  background-color: #adb5bd;
}
